body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

html {
  width: 100%;
  height: 100%;
}

html, body {
  overflow-x: hidden;
}

.brand-frame {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  padding: 15px;
  padding-top: 40px;
  margin-bottom: 100px;
}

@media (min-width: 767px) {
  .brand-frame {
    margin-top: 100px;
  }
}

#headerimg {
  max-width: 100%;
}

.staff {
  display: block;
  overflow: hidden;
}

.staff__item {
  float: left;
  margin-right: 20px;
}


.staff_member {
  display: inline-block;
  margin: 10px;
}

.staff_member_img {
  height: 150px;
}

.sponsor-container {
  margin-bottom: 80px;
}

.sponsor-line {
}

.sponsor-div {
  display: inline-block;
  margin: 50px 90px auto 90px;
}

.well {
  background: white;
  padding: 2em 0;
  border: 4px solid #009bc2;
}

.abstracts {
  margin-top: 30px;
  background: white;
  padding: 10px;
  text-align: justify;
}

/* keynote */
#keynote p {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 5pt;
}

#rans-bio {
  margin-top: 2em;
}


/* schedule */
table.prtbl {
  _background: rgba(0, 170, 212, 0.6);
  background: white;
  _border: solid rgba(0, 170, 212, 1);
  border: 20px solid white;
  margin-left: auto;
  margin-right: auto;
}

.prtbl a {
  color: black;
}

.prtbl .prtd_workshop a {
  color: white;
}

.prtbl th {
  text-align: center;
}

.prtbl td {
  _border: solid rgba(0, 170, 212, 0.3);
  padding: 15px;
  vertical-align: middle;
  _padding-bottom: 20px;
}

.prtr_header {
  font-style: italic;
}

td.prtd_hh {
  padding-left: 0;
  border-top: 1px solid #ddd;
}

.prtd_checkin {
  background: rgba(226, 204, 102, 0.6);
}

.prtd_opening {
  background: rgba(0, 170, 212, .4);
  _background: rgba(226, 204, 102, 0.6);
}

.prtd_pausa {
  _background: rgba(0, 170, 212, .4);
  background: rgba(226, 204, 102, 0.6);
}

.prtd_sessione {
  width: 550px;
  _background: rgb(226, 204, 102);
  background: rgba(0, 170, 212, 0.25);
}

.prtd_sessione.alt {
  background: rgba(0, 170, 212, 0.15);
}

td.prtd_lightning {
  padding: 5px;
  _background: rgba(0, 170, 212, 0.2);
}

.prtd_workshop {
  width: 550px;
  _background: rgb(239, 131, 76);
  background: rgba(0, 170, 212, 0.9);
  color: white;
}

hr {
  border: none;
  height: 1px;
  background-color: #AAA;
}

.nokia-logo {
  width: 180px;
  margin-bottom: 20px;
}

.location__directions {
  font-style: italic;
  margin-top: 30px;
  text-align: left;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}



.section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 110px;
}

.section:after {
  content: "";
  position: absolute;
  left: -50px;
  height: 110px;
  width: 130%;
  z-index: 10;
}

.section--left:after {
  bottom: -40px;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.section--right:after {
  bottom: -70px;
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}

.section--light,
.section--light:after {
  background-color: #fff;
}

.section--dark,
.section--dark:after {
  background-color: #212529;
  color: #fff;
}

.section--medium,
.section--medium:after {
  background: #e8f6fa;
}

.section h2 {
  margin-top: 50px;
  font-size: 48px;
  text-transform: none;
  font-weight: normal;
}


/* navbar */
.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  background-color: #ffffff;
}
.navbar-brand {
  font-weight: 700;
}
.navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: #444444;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  padding: 9px 10px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 4px;
  border-color: rgb(221, 221, 221);
}
.navbar-toggle:focus,
.navbar-toggle:active {
  outline: none;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: rgb(136, 136, 136);
}
@media (min-width: 767px) {
  .navbar {
    border-bottom: none;
    letter-spacing: 1px;
    background: rgba(255, 255, 255, 1);
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background: rgba(0, 170, 212, 0.85);
  }
  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid #009BC2;
  }
}
